@using TodoHtmx.Web.Controllers;
@using TodoHtmx.Web.ViewModels;
@model TodoItemsViewModel;

<header class="header">
  <h1>todos</h1>
  <form method="post" hx-target="#todo-board" hx-post="/Todo/Todos">
    <input type="hidden" name="filter" value="@RequestHelper.TodoFilterModeToQueryString(Model.Filter)" />
    <input class="new-todo" placeholder="What needs to be done?" name="title" autofocus="" value="" />
  </form>

</header>
<main class="main" style="display: block;">
  <div class="toggle-all-container">
    <input class="toggle-all" type="checkbox">
    <label class="toggle-all-label" for="toggle-all">Mark all as complete</label>
  </div>
  <ul class="todo-list">
    @foreach (var item in Model.TodoItems)
    {
      <partial name="TodoItem" model="@(new TodoItemViewModel() { TodoItem = item, Filter=Model.Filter })" />
    }
  </ul>
  <footer class="footer" style="display: block;">
    <span class="todo-count"><strong id="todo-count">@Model.TodoItems.Count</strong> items displayed</span>
    <ul class="filters">
      <li>
        <a href="_blank" hx-get="/Todo/TodoItems" hx-target="#todo-board"
          class="@(Model.Filter == TodoFilterMode.All ? "selected" : "")" hx-push-url="/Todo">All</a>
      </li>
      <li>
        <a href="_blank" hx-get="/Todo/TodoItems?filter=active" hx-target="#todo-board"
          class="@(Model.Filter == TodoFilterMode.Active ? "selected" : "")"
          hx-push-url="/Todo?filter=active">Active</a>
      </li>
      <li>
        <a href="_blank" hx-get="/Todo/TodoItems?filter=completed" hx-target="#todo-board"
          class="@(Model.Filter == TodoFilterMode.Completed ? "selected" : "")"
          hx-push-url="/Todo?filter=completed">Completed</a>
      </li>
    </ul>
    <button class="clear-completed" style="display: none;"></button>
  </footer>
</main>
